<%- include('include/header'); -%>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Logo</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#collapsibleNavbar"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="jumbotron">
				<h1 class="display-4">Hello, world!</h1>
				<p class="lead">
					This is a simple hero unit, a simple jumbotron-style
					component for calling extra attention to featured content or
					information.
				</p>
				<hr class="my-4" />
				<p>
					It uses utility classes for typography and spacing to space
					content out within the larger container.
				</p>
				<p class="lead">
					<a class="btn btn-primary btn-lg" href="#" role="button"
						>Learn more</a
					>
				</p>
			</div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
              <div class="dropdown">
                <!-- Drowdown button -->
                <button class="btn btn-default drowdown-toggle" type="button" data-toggle="dropdown">
                  <!-- Button title and arrow -->
                  Admin tools <span class="caret"></span>
                </button>
                <!-- Dropdown content -->
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Blog</li>
                  <li><a href="#">Post lijst</a>
                  </li>
                  <li><a href="#">Maak post</a>
                  </li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Accounts</li>
                  <li><a href="#">Gebruikerslijst</a>
                  </li>
                  <li><a href="#">Gebruiker toevoegen</a>
                  </li>
                </ul>
              </div>
            </div>
		</div>
		
		<%- include('include/footer'); -%>