<footer>

</footer>
<script src="/socket.io/socket.io.js"></script>
		<script src="/js/sockets.js"></script>
		<script src="/js/vendor/jquery-3.6.0.min.js"></script>
		<script src="/js/vendor/bootstrap.bundle.min.js"></script>
	</body>
</html>